---
import { fetchData, fetchDataBy } from "../../helpers/services";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
const data = await fetchDataBy('users', id);

export async function getStaticPaths() {
  const data = await fetchData('users');
  return data.map((dt: any) => ({
    params: { id: dt.id_user },
  }));
}
---

<Layout title="View" description="View page">
  <main class="flex flex-col items-center justify-center h-screen">
    <h1>{data[0].user_name}</h1>
  </main>
</Layout>