---
import LabelForm from "../components/LabelForm.astro";
import FormButton from "../components/FormButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full h-screen pl-[200px] flex flex-col gap-4 justify-center items-center">
    <h1 class="text-2xl text-zinc-900">CREAR USUARIO</h1>
    <section class="grid grid-cols-2 grid-rows-3 gap-1">
      <div class="border-1 rounded-lg px-6 py-4 border-zinc-400 ">
        <form class="flex justify-between gap-4">
          <LabelForm label="Área" name="area" placeholder="Escriba aquí" />
          <FormButton text="Crear" type="submit" />
        </form>
        <p class="text-[12px] text-red-800 mt-2">Debe crear el área</p>
      </div>
      <div class="border-1 rounded-lg px-6 py-4 border-zinc-400">
        <form class="flex justify-between gap-4">
          <LabelForm label="Rol" name="role" placeholder="Escriba aquí" />
          <FormButton text="Crear" type="submit" />
        </form>
        <p class="text-[12px] text-red-800 mt-2">Debe crear el rol</p>
      </div>
      <div class="border-1 rounded-lg px-6 py-4 border-zinc-400">
        <form class="flex justify-between gap-4">
          <LabelForm label="Región" name="region" placeholder="Escriba aquí" />
          <FormButton text="Crear" type="submit" />
        </form>
        <p class="text-[12px] text-red-800 mt-2">Debe crear la región</p>
      </div>
      <div class="border-1 rounded-lg px-6 py-4 border-zinc-400 row-span-3 col-start-2 row-start-1">
        <form class="flex flex-col justify-between gap-4">
          <LabelForm label="Nombre" name="name" placeholder="Escriba aquí" />
          <LabelForm label="Nick" name="nick" placeholder="Escriba aquí" />
          <LabelForm label="Contraseña" name="password" placeholder="Escriba aquí" />
          <LabelForm label="Área" name="area" placeholder="Escriba aquí" />
          <LabelForm label="Rol" name="role" placeholder="Escriba aquí" />
          <LabelForm label="Región" name="region" placeholder="Escriba aquí" />
          <FormButton text="Crear" type="submit" />
        </form>
        <p class="text-[12px] text-red-800 mt-2">Debe crear el usuario</p>
      </div>
    </section>
  
  </main>
</Layout>