---
import { fetchData, itemData } from "../helpers/services.js";
import TableRow from "./TableRow.astro";
const data = await fetchData('users')
---
<table class="table-fixed border-1 border-zinc-400 w-[70%]">
  <thead>
    <tr class="bg-zinc-700 text-white">
      <th class="w-[150px]">Nombre</th>
      <th class="w-[100px]">Nick</th>
      <th class="w-[100px]">Área</th>
      <th class="w-[100px]">Rol</th>
      <th class="w-[100px]">Región</th>
      <th class="w-[100px]">Acciones</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {
      data.map((user: any) => (
        <TableRow id={user.id_user} name={user.user_name} nick={user.user_nick} area={itemData(user.id_area, 'areas', 'area')} role={itemData(user.id_role, 'roles', 'role')} region={itemData(user.id_region, 'regions', 'region')} linkOne={`/update`} linkTwo="/view" />
      ))
    }
  </tbody>
</table>
