<label>
  <span class="w-[55px] inline-block">Área:</span>
  <input type="text" name="area" placeholder="Escriba aquí" class="border-b-1 border-zinc-500 px-2 py-1 focus:outline-none placeholder:text-sm placeholder:text-zinc-400" />
</label>