---
import "../styles/global.css";
import SideBar from "../components/SideBar.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ADMIN | DATA</title>
	</head>
	<body class="w-screen h-screen bg-gray relative bg-gradient-to-b from-zinc-400 via-zinc-300 to-zinc-400">
		<SideBar />
		<slot />
	</body>
</html>
